In [14]:
import pandas as pd
import numpy as np
url="http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
data_columns = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

df=pd.read_csv(url ,  skiprows=2, index_col=False,header=None,names=data_columns)
df.replace('?',pd.NA,inplace=True)
df.dropna(subset=["symboling"],axis=0,inplace=True)
print(df.describe(include='all'))

         symboling normalized-losses    make fuel-type aspiration  \
count   203.000000               164     203       203        203
unique         NaN                51      22         2          2
top            NaN               161  toyota       gas        std
freq           NaN                11      32       183        166
mean      0.812808               NaN     NaN       NaN        NaN
std       1.232575               NaN     NaN       NaN        NaN
min      -2.000000               NaN     NaN       NaN        NaN
25%       0.000000               NaN     NaN       NaN        NaN
50%       1.000000               NaN     NaN       NaN        NaN
75%       2.000000               NaN     NaN       NaN        NaN
max       3.000000               NaN     NaN       NaN        NaN

       num-of-doors body-style drive-wheels engine-location  wheel-base  ...  \
count           201        203          203             203  203.000000  ...
unique            2          5            3               2         NaN  ...
top            four      sedan          fwd           front         NaN  ...
freq            114         96          120             200         NaN  ...
mean            NaN        NaN          NaN             NaN   98.856650  ...
std             NaN        NaN          NaN             NaN    5.965685  ...
min             NaN        NaN          NaN             NaN   86.600000  ...
25%             NaN        NaN          NaN             NaN   94.500000  ...
50%             NaN        NaN          NaN             NaN   97.000000  ...
75%             NaN        NaN          NaN             NaN  102.400000  ...
max             NaN        NaN          NaN             NaN  120.900000  ...

        engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
count    203.000000          203   199     199        203.000000        201
unique          NaN            8    37      35               NaN         59
top             NaN         mpfi  3.62    3.40               NaN         68
freq            NaN           92    23      20               NaN         19
mean     126.876847          NaN   NaN     NaN         10.153793        NaN
std       41.847195          NaN   NaN     NaN          3.990020        NaN
min       61.000000          NaN   NaN     NaN          7.000000        NaN
25%       97.000000          NaN   NaN     NaN          8.550000        NaN
50%      119.000000          NaN   NaN     NaN          9.000000        NaN
75%      143.000000          NaN   NaN     NaN          9.400000        NaN
max      326.000000          NaN   NaN     NaN         23.000000        NaN

        peak-rpm    city-mpg highway-mpg price
count        201  203.000000  203.000000   199
unique        23         NaN         NaN   185
top         5500         NaN         NaN  8921
freq          37         NaN         NaN     2
mean         NaN   25.261084   30.788177   NaN
std          NaN    6.560896    6.910278   NaN
min          NaN   13.000000   16.000000   NaN
25%          NaN   19.000000   25.000000   NaN
50%          NaN   24.000000   30.000000   NaN
75%          NaN   30.000000   35.000000   NaN
max          NaN   49.000000   54.000000   NaN

[11 rows x 26 columns]

In [15]:
mean=df["symboling"].mean()
df["symboling"].replace(np.nan,mean)

0      1
1      2
2      2
3      2
4      1
      ..
198   -1
199   -1
200   -1
201   -1
202   -1
Name: symboling, Length: 203, dtype: int64

In [16]:
print(df)

     symboling normalized-losses         make fuel-type aspiration  \
0            1              <NA>  alfa-romero       gas        std
1            2               164         audi       gas        std
2            2               164         audi       gas        std
3            2              <NA>         audi       gas        std
4            1               158         audi       gas        std
..         ...               ...          ...       ...        ...
198         -1                95        volvo       gas        std
199         -1                95        volvo       gas      turbo
200         -1                95        volvo       gas        std
201         -1                95        volvo    diesel      turbo
202         -1                95        volvo       gas      turbo

    num-of-doors body-style drive-wheels engine-location  wheel-base  ...  \
0            two  hatchback          rwd           front        94.5  ...
1           four      sedan          fwd           front        99.8  ...
2           four      sedan          4wd           front        99.4  ...
3            two      sedan          fwd           front        99.8  ...
4           four      sedan          fwd           front       105.8  ...
..           ...        ...          ...             ...         ...  ...
198         four      sedan          rwd           front       109.1  ...
199         four      sedan          rwd           front       109.1  ...
200         four      sedan          rwd           front       109.1  ...
201         four      sedan          rwd           front       109.1  ...
202         four      sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            152         mpfi  2.68    3.47               9.0        154
1            109         mpfi  3.19    3.40              10.0        102
2            136         mpfi  3.19    3.40               8.0        115
3            136         mpfi  3.19    3.40               8.5        110
4            136         mpfi  3.19    3.40               8.5        110
..           ...          ...   ...     ...               ...        ...
198          141         mpfi  3.78    3.15               9.5        114
199          141         mpfi  3.78    3.15               8.7        160
200          173         mpfi  3.58    2.87               8.8        134
201          145          idi  3.01    3.40              23.0        106
202          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       19          26  16500
1        5500       24          30  13950
2        5500       18          22  17450
3        5500       19          25  15250
4        5500       19          25  17710
..        ...      ...         ...    ...
198      5400       23          28  16845
199      5300       19          25  19045
200      5500       18          23  21485
201      4800       26          27  22470
202      5400       19          25  22625

[203 rows x 26 columns]

In [17]:
print(df.info)

<bound method DataFrame.info of      symboling normalized-losses         make fuel-type aspiration  \
0            1              <NA>  alfa-romero       gas        std
1            2               164         audi       gas        std
2            2               164         audi       gas        std
3            2              <NA>         audi       gas        std
4            1               158         audi       gas        std
..         ...               ...          ...       ...        ...
198         -1                95        volvo       gas        std
199         -1                95        volvo       gas      turbo
200         -1                95        volvo       gas        std
201         -1                95        volvo    diesel      turbo
202         -1                95        volvo       gas      turbo

    num-of-doors body-style drive-wheels engine-location  wheel-base  ...  \
0            two  hatchback          rwd           front        94.5  ...
1           four      sedan          fwd           front        99.8  ...
2           four      sedan          4wd           front        99.4  ...
3            two      sedan          fwd           front        99.8  ...
4           four      sedan          fwd           front       105.8  ...
..           ...        ...          ...             ...         ...  ...
198         four      sedan          rwd           front       109.1  ...
199         four      sedan          rwd           front       109.1  ...
200         four      sedan          rwd           front       109.1  ...
201         four      sedan          rwd           front       109.1  ...
202         four      sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            152         mpfi  2.68    3.47               9.0        154
1            109         mpfi  3.19    3.40              10.0        102
2            136         mpfi  3.19    3.40               8.0        115
3            136         mpfi  3.19    3.40               8.5        110
4            136         mpfi  3.19    3.40               8.5        110
..           ...          ...   ...     ...               ...        ...
198          141         mpfi  3.78    3.15               9.5        114
199          141         mpfi  3.78    3.15               8.7        160
200          173         mpfi  3.58    2.87               8.8        134
201          145          idi  3.01    3.40              23.0        106
202          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       19          26  16500
1        5500       24          30  13950
2        5500       18          22  17450
3        5500       19          25  15250
4        5500       19          25  17710
..        ...      ...         ...    ...
198      5400       23          28  16845
199      5300       19          25  19045
200      5500       18          23  21485
201      4800       26          27  22470
202      5400       19          25  22625

[203 rows x 26 columns]>

In [18]:
print(df.head(2))

   symboling normalized-losses         make fuel-type aspiration num-of-doors  \
0          1              <NA>  alfa-romero       gas        std          two
1          2               164         audi       gas        std         four

  body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
0  hatchback          rwd           front        94.5  ...          152
1      sedan          fwd           front        99.8  ...          109

   fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
0         mpfi  2.68    3.47               9.0        154      5000       19
1         mpfi  3.19    3.40              10.0        102      5500       24

  highway-mpg  price
0          26  16500
1          30  13950

[2 rows x 26 columns]

In [19]:
print(df.tail(2))

     symboling normalized-losses   make fuel-type aspiration num-of-doors  \
201         -1                95  volvo    diesel      turbo         four
202         -1                95  volvo       gas      turbo         four

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
201      sedan          rwd           front       109.1  ...          145
202      sedan          rwd           front       109.1  ...          141

     fuel-system  bore  stroke compression-ratio horsepower  peak-rpm  \
201          idi  3.01    3.40              23.0        106      4800
202         mpfi  3.78    3.15               9.5        114      5400

    city-mpg highway-mpg  price
201       26          27  22470
202       19          25  22625

[2 rows x 26 columns]

In [20]:
bins=np.linspace(min(df['symboling']),max(df['symboling']),4)
g_names=['low','medium','high']
df['price_binned']=pd.cut(df['symboling'],bins,labels=g_names,include_lowest=True)
print(df['price_binned'])

0      medium
1        high
2        high
3        high
4      medium
        ...
198       low
199       low
200       low
201       low
202       low
Name: price_binned, Length: 203, dtype: category
Categories (3, object): ['low' < 'medium' < 'high']

In [21]:
print(pd.get_dummies(df['fuel-type']))

     diesel    gas
0     False   True
1     False   True
2     False   True
3     False   True
4     False   True
..      ...    ...
198   False   True
199   False   True
200   False   True
201    True  False
202   False   True

[203 rows x 2 columns]

In [22]:
missing_data = df.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,price_binned
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [23]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
symboling
False    203
Name: count, dtype: int64

normalized-losses
normalized-losses
False    164
True      39
Name: count, dtype: int64

make
make
False    203
Name: count, dtype: int64

fuel-type
fuel-type
False    203
Name: count, dtype: int64

aspiration
aspiration
False    203
Name: count, dtype: int64

num-of-doors
num-of-doors
False    201
True       2
Name: count, dtype: int64

body-style
body-style
False    203
Name: count, dtype: int64

drive-wheels
drive-wheels
False    203
Name: count, dtype: int64

engine-location
engine-location
False    203
Name: count, dtype: int64

wheel-base
wheel-base
False    203
Name: count, dtype: int64

length
length
False    203
Name: count, dtype: int64

width
width
False    203
Name: count, dtype: int64

height
height
False    203
Name: count, dtype: int64

curb-weight
curb-weight
False    203
Name: count, dtype: int64

engine-type
engine-type
False    203
Name: count, dtype: int64

num-of-cylinders
num-of-cylinders
False    203
Name: count, dtype: int64

engine-size
engine-size
False    203
Name: count, dtype: int64

fuel-system
fuel-system
False    203
Name: count, dtype: int64

bore
bore
False    199
True       4
Name: count, dtype: int64

stroke
stroke
False    199
True       4
Name: count, dtype: int64

compression-ratio
compression-ratio
False    203
Name: count, dtype: int64

horsepower
horsepower
False    201
True       2
Name: count, dtype: int64

peak-rpm
peak-rpm
False    201
True       2
Name: count, dtype: int64

city-mpg
city-mpg
False    203
Name: count, dtype: int64

highway-mpg
highway-mpg
False    203
Name: count, dtype: int64

price
price
False    199
True       4
Name: count, dtype: int64

price_binned
price_binned
False    203
Name: count, dtype: int64

In [24]:
##avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
##print("Average of normalized-losses:", avg_norm_loss)

In [25]:
##df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

In [26]:
df['symbol']=df['symboling'].tolist()
print(df['symbol'])

0      1
1      2
2      2
3      2
4      1
      ..
198   -1
199   -1
200   -1
201   -1
202   -1
Name: symbol, Length: 203, dtype: int64

In [27]:
df.rename(columns={'highway-mpg':'highway-L/100km'}, inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-L/100km,price,price_binned,symbol
0,1,<NA>,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154,5000,19,26,16500,medium,1
1,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500,24,30,13950,high,2
2,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115,5500,18,22,17450,high,2
3,2,<NA>,audi,gas,std,two,sedan,fwd,front,99.8,...,3.19,3.40,8.5,110,5500,19,25,15250,high,2
4,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,3.19,3.40,8.5,110,5500,19,25,17710,medium,1